* {
    margin: 0;
    padding: 0;
}

.background {
    background-color: #D3D3D3;
    height: 100vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.calculator {
    position: absolute;
    background-color: #4F4F4F;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 5px;
}

.table button {
    width: 50px;
    height: 30px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    background-color: #A9A9A9;
    color: white;
    margin: 1px;
    border-radius: 5px;
}

.table button:hover {
    background-color: #C0C0C0;
}

#result {
    background-color: white;
    width: 200px;
    height: 30px;
    margin: 3px;
    font-size: 25px;
    text-align: right;
    color: black;
    padding: 5px;
}